<nav class="navbar bg-body-tertiary">
    <form class="container-fluid ">
        <button class="material-symbols-rounded" style="border: none;"> menu </button>
        <h1 class="animate__animated animate__zoomIn"> Aplicación de Salud </h1>

        <span class="material-symbols-rounded medical">
            medical_services
        </span>

    </form>
</nav>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-inicio mt-5">
                <div class="card-body m-3">
                    <div class="mt-2">
                        <img src="assets/imagenes/imagen1.jpeg" class="imagen1">
                    </div>

                    <div class="row mt-3">
                        <div class="col-6">
                            <button type="button" class="btn btn-lg btn-primary w-100 my-3 rounded-pill">
                                Seguir
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-lg btn-outline-info w-100 my-3 rounded-pill"
                                routerLink="/perfil">
                                Ver perfil
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="text-center">
                <h1 class="fw-bold mt-5">
                    Control Salud
                </h1>
            </div>
            <div class="text-center">
                <p class="fond mb-5" style="color: #8b8b8b;">
                    En esta app te ayudaremos a optimizar tu <br>
                    tiempo, ver tu salud y ayudarte con tus recordatorios.
                </p>
            </div>
        </div>



        <div class="col-12">
            <button type="button" class="btn btn-lg btn-primary w-100 mt-3 mb-3 rounded-pill" routerLink="/revisar">
                Revisar mi salud
            </button>

            <button type="button" class="btn btn-lg btn-primary w-100 mt-3 mb-3 rounded-pill" routerLink="/servicios">
                Servicios
            </button>

            <button type="button" class="btn btn-lg btn-primary w-100 mt-3 mb-3 rounded-pill" routerLink="/vincular">
                Vincular dispositivo
            </button>

            <button type="button" class="btn btn-lg btn-primary w-100 mt-3 mb-3 rounded-pill" routerLink="/agendar">
                Agendar Cita
            </button>
        </div>
    </div>

</div>