<!-- navbar -->
<nav class="navbar bg">
    <div class="container-fluid">
        <div class="flex-container">
            <div class="flex-items">
                <button type="button" class="btn btn" routerLink="/principal">
                    <span class="material-symbols-rounded">
                        arrow_back
                    </span>
                </button>
            </div>
            <div class="flex-items justify-content-center ms-5">
                <h1 class="animate__animated animate__zoomIn ms-4">Servicios</h1>
            </div>
        </div>
    </div>
</nav>


<!-- texto -->
<h6 class="fw-bold text-center animate__animated animate__zoomIn mt-5"style="color: #06c2e4; readex-pro">
    Esta aplicación cuenta <br> con los siguientes servicios:
</h6>


<!-- iconos -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded recordatorios">
                    notifications_active    
                </button>
                <div class="text-center mt-3 ">
                    <h6 class="animate__animated animate__lightSpeedInLeft">
                        <span style="color: #f0a51a;"> Recordatorios </span> 
                    </h6>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded vacunas">
                    syringe
                </button>
                <div class="text-center mt-3 ">
                    <h6 class="animate__animated animate__lightSpeedInRight">
                        <span style="color: #1fbe11;">Vacunas</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded medicamentos">
                    pill     
                </button>
                <div class="text-center mt-3 ">
                    <h6 class="fw-bold animate__animated animate__lightSpeedInLeft">
                        <span style="color: #1c11be;">Medicamentos</span>
                    </h6>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded doctores">
                    stethoscope
                </button>
                <div class="text-center mt-3 animate__animated animate__lightSpeedInRight">
                    <h6 class="fw-bold">
                        <span style="color: #0cbcd3;">Doctores</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded exámenes">
                    science
                </button>
                <div class="text-center mt-3 animate__animated animate__lightSpeedInLeft"> 
                    <h6 class="fw-bold mb-5">
                        <span style="color: #a111be;">Exámenes</span>
                    </h6>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded visitas ">
                    location_on
                </button>
                <div class="text-center mt-3 animate__animated animate__lightSpeedInRight">
                    <h6 class="fw-bold">
                         <span style="color: #e62315;">Visitas</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>