<!-- navbar -->
<nav class="navbar bg">
    <div class="container-fluid">
        <div class="flex-container">
            <div class="flex-items">
                <button type="button" class="btn btn-" routerLink="/principal">
                    <span class="material-symbols-rounded">
                        arrow_back
                    </span>
                </button>
            </div>
            <div class="flex-items ms-5">
                <h1 class="animate__animated animate__zoomIn"> Dispositivos </h1>
            </div>
        </div>
    </div>
</nav>



<!-- texto -->
<h6 class="fw-bold text-center animate__animated animate__zoomIn mt-5"style="color: #06c2e4; readex-pro ">
    Conectar dispositivos de Casa inteligente:
</h6>



<!-- contenido -->
<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded alexa">
                    <img src="assets/imagenes/alexa.png">
                </button>
                <div class="text-center mt-3 ">
                    <h6 class="animate__animated animate__lightSpeedInLeft">
                        <span style="color: #1997ff; font: 20px readex pro"> Alexa </span>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded google">
                    <img src="assets/imagenes/google.png">
                </button>
                <div class="text-center mt-3 ">
                    <h6 class="animate__animated animate__lightSpeedInRight">
                        <span style="color: #1997ff; font: 20px readex pro"> Google </span>
                    </h6>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded cortana">
                    <img src="assets/imagenes/cortana.png">
                </button>
                <div class="text-center mt-3 ">
                    <h6 class="animate__animated animate__lightSpeedInLeft">
                        <span style="color: #1997ff; font: 20px readex pro"> Cortana </span>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="text-center mt-5">
                <button class="material-symbols-rounded siri">
                    <img src="assets/imagenes/siri.png">
                </button>
                <div class="text-center mt-3 ">
                    <h6 class="animate__animated animate__lightSpeedInRight">
                        <span style="color: #1997ff; font: 20px readex pro"> Siri </span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
