<!-- navbar -->
<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-space-between">
        <button class="material-symbols-rounded"  style="border: none;" routerLink="/principal">
            arrow_back
        </button>
            <h1 class="animate__animated animate__zoomIn"> Agendar Cita </h1>
     
        <span class="material-symbols-rounded medical">
            medical_services
        </span>
       
    </form>
</nav>

<!-- contenido -->
<div class="container-fluid">

    <div class="row">
        <div class="card card-principal mt-5">
            <div class="card-body mt-3">
                <div class="row">

                    <div class="col-4">
                        <img src="assets/imagenes/doctor1.jpg" class="imagen">

                    </div>

                    <div class="col-8">
                        <p class="fw-bold" style="font-size: 18px; font-family: readex pro;">
                            Dr. Javier Catala S.
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                        </p>
                        <h6 class="fw-semibold " style="color: #8b8b8b; font-family: readex pro;">
                            Anestesiología.
                        </h6>

                        <p class="fw-semibold3" style="color: #8b8b8b; font-size: 12px; font-family: readex pro;">
                            Calle: Alemán 112, Col. Centro, <br> Xalapa Ver.
                        </p>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-lg btn-primary w-100 mt-3 rounded-pill"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Agendar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Agendar Cita</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="fw-semibold" style="font-size: 12px; font-family: readex pro;">
                                            Hola Jesus Martín, todo listo para agendar tu cita.
                                        </p>

                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                                placeholder="name@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label"> Mensaje </label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label"> Fecha </label>
                                            <input class="form-control" type="date" 
                                            placeholder="Default input" aria-label="default input example">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"> Agendar </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card card-principal mt-5">
            <div class="card-body mt-3">
                <div class="row">

                    <div class="col-4">
                        <img src="assets/imagenes/doctor4.jpg" class="imagen">

                    </div>

                    <div class="col-8">
                        <p class="fw-bold" style="font-size: 18px; font-family: readex pro;">
                            Dra. Renata Carballo
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                        </p>
                        <h6 class="fw-semibold " style="color: #8b8b8b; font-family: readex pro;">
                            Cardiología Clínica.
                        </h6>

                        <p class="fw-semibold3" style="color: #8b8b8b; font-size: 12px; font-family: readex pro;">
                            Calle: Hidalgo 221, Col. Centro, <br> Veracruz México.
                        </p>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-lg btn-primary w-100 mt-3 rounded-pill"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Agendar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Agendar Cita</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="fw-semibold" style="font-size: 12px; font-family: readex pro;">
                                            Hola Jesus Martín, todo listo para agendar tu cita.
                                        </p>

                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                                placeholder="name@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label"> Mensaje </label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label"> Fecha </label>
                                            <input class="form-control" type="date" 
                                            placeholder="Default input" aria-label="default input example">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"> Agendar </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card card-principal mt-5">
            <div class="card-body mt-3">
                <div class="row">

                    <div class="col-4">
                        <img src="assets/imagenes/doctor1.jpg" class="imagen">

                    </div>

                    <div class="col-8">
                        <p class="fw-bold" style="font-size: 18px; font-family: readex pro;">
                            Dr. Agustín Lopez M
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                        </p>
                        <h6 class="fw-semibold " style="color: #8b8b8b; font-family: readex pro;">
                            Cirugia General.
                        </h6>

                        <p class="fw-semibold3" style="color: #8b8b8b; font-size: 12px; font-family: readex pro;">
                            Calle: Poniente 320, Col. Centro, <br> Coatzacoalcos Ver.
                        </p>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-lg btn-primary w-100 mt-3 rounded-pill"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Agendar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Agendar Cita</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="fw-semibold" style="font-size: 12px; font-family: readex pro;">
                                            Hola Jesus Martín, todo listo para agendar tu cita.
                                        </p>

                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                                placeholder="name@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label"> Mensaje </label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label"> Fecha </label>
                                            <input class="form-control" type="date" 
                                            placeholder="Default input" aria-label="default input example">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"> Agendar </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card card-principal mt-5 mb-5">
            <div class="card-body mt-3">
                <div class="row">

                    <div class="col-4">
                        <img src="assets/imagenes/doctor4.jpg" class="imagen">

                    </div>

                    <div class="col-8">
                        <p class="fw-bold" style="font-size: 18px; font-family: readex pro;">
                            Dra. Angelica Ramos
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                            <span class="material-symbols-rounded star">star</span>
                        </p>
                        <h6 class="fw-semibold " style="color: #8b8b8b; font-family: readex pro;">
                            Dermatología.
                        </h6>

                        <p class="fw-semibold3" style="color: #8b8b8b; font-size: 12px; font-family: readex pro;">
                            Calle: Galileo 192, Col. Centro, <br> Orizaba Ver.
                        </p>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-lg btn-primary w-100 mt-3 rounded-pill"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Agendar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Agendar Cita</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="fw-semibold" style="font-size: 12px; font-family: readex pro;">
                                            Hola Jesus Martín, todo listo para agendar tu cita.
                                        </p>

                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                                placeholder="name@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label"> Mensaje </label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label"> Fecha </label>
                                            <input class="form-control" type="date" 
                                            placeholder="Default input" aria-label="default input example">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"> Agendar </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



</div>