.titulo {

    background: #06c2e4;
    font-family: 'Readex Pro';
    color: #ffff;
    padding: 50px;
    

    border-radius: none;
}


.circulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 105px;
    height: 105px;
    background-color: #56ff5c;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 1px 1px 20px 3px #dfdfdf;
}

.texto{
    text-align: left;
    color: #8b8b8b;
    font-family:'Readex pro', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 14px;
  

}

.card-estable{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: auto;
    width: 350px;
    border-radius: 30px;
    border: none;
    box-shadow: 1px 1px 20px 3px #dfdfdf;
}

.imagen3{
    display: flex;
    justify-content: center;
    align-items:start;
    height: 100px;
    width: auto;
    margin:0 auto;
}