<nav class="navbar bg">
    <div class="container-fluid">
        <div class="flex-container">
            <div class="flex-items">
                <button type="button" class="btn btn" routerLink="/principal">
                    <span class="material-symbols-rounded">
                        arrow_back
                    </span>
                </button>
            </div>
            <div class="flex-items ms-4">
                <h1 class="animate__animated animate__zoomIn">Revisar mi salud</h1>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid ">
    <div class="row text-center">
        <div class="col-12 mt-5">
            <h2 class="fw-bold ">
                Resultados:
            </h2>
            <div class="circulo text-center mt-4">
                <h3 class="fw-bold">
                    100%
                </h3>
            </div>
        </div>
    </div>


    <div class="card card-estable mt-5">
        <div class="card-body">
            <div class="text-start mt-4">
                <h5 class="mt-2" style="color: #8b8b8b;">
                    Tu salud es estable
                </h5>
               
                <p class="fw-bold texto mt-4">
                    De acuerdo a los exámenes aplicados para <br> la salud no se dió positivo para ninguna <br>
                    enfermedad grave, para mantenerte más <br> al tanto de tu salud, agenda una cita o acude <br> a tu doctor más cercano.
                </p>
                <div class="m-3 imagen3">
                    <img src="assets/imagenes/imagen3.png" class="imagen3" >
                </div>
            </div>
        </div>
        
    </div>
   

    <div class="text-center mt-5">
        <h4 class="fw-bold">
            Realizate examenes cada 15 días
        </h4>
    </div>
</div>